@font-face {
  font-family: robotoRegular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: robotoBold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

* {
  font-family: robotoRegular;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.bottom-padded {
  height: 45px;
  width: 100%;
  background: transparent;
}

#root {
  height: 100%;
  position: relative;
}

.red {
  color: #e57373;

  &:focus,
  &:hover {
    color: #ffcdd2;
  }
}

.green {
  color: #00c853;

  &:focus,
  &:hover {
    color: #c5e1a5;
  }
}

.btn {
  width: 100%;
  border: 0;
  background-color: #43a047;
  font-family: robotoBold;
  color: white;
  padding: 10px;
  font-size: 1.15rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }
}

.logo {
  text-align: center;
  font-size: 1.25rem;
  font-family: rockwell, sans-serif;
  font-weight: normal;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #707070;
  padding: 6px 3px;
  width: 100%;
  font-size: 1rem;
  &:focus {
    border-bottom: 1px solid #000000;
    outline: 0;
  }
}

textarea {
  background-color: transparent;
  resize: vertical;
  border: 0;
  border-bottom: 1px solid #707070;
  padding: 6px 3px;
  width: 100%;
  font-size: 1rem;
  &:focus {
    border-bottom: 1px solid #000000;
    outline: 0;
  }
}

.login-screen {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn {
    margin-top: 20px;
  }

  .login-wrapper {
    width: 80%;
  }

  input {
    margin-bottom: 15px;
  }
}

.navbar {
  position: relative;
  display: flex;
  border-bottom: 1px solid #c9c9c9;
  padding: 10px;
  background-color: #f5f5f5;
  margin-bottom: 20px;

  .logo {
    margin: 0;
    width: 100%;
  }

  a {
    margin: 0;
    padding: 0;
  }
}

.bottombar {
  position: fixed;
  bottom: 0;
  padding: 10px;
  border-top: 1px solid #c9c9c9;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.push-left {
  margin-left: auto;
}

.lighter {
  background-color: white;
  border-bottom: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
  margin-bottom: 20px;

  p {
    margin: 0;
    padding: 0;
    color: #6a6a6a;
    font-size: 0.9rem;
  }

  .lighter-header {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid #c9c9c9;

    .lighter-color {
      height: 35px;
      min-width: 35px;
      background-color: #9a00ff;
      border-radius: 50%;
    }

    .lighter-id {
      text-align: center;
      margin-left: 10px;
    }

    .lighter-owner {
      a {
        text-decoration: none;
        color: #9c27b0;
        text-transform: capitalize;
      }
    }
  }

  .lighter-description {
    padding: 15px 30px;
  }

  .lighter-buttons {
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #c9c9c9;

    button {
      background: transparent;
      font-size: 1rem;
      border: 0;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: 0;
      }
      margin-left: 10px;
    }
  }
}

.action-modal-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .action-modal {
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px 30px;
    width: 65%;
    border-radius: 10px;

    h1 {
      margin: 0;
      padding: 0;
      text-align: left;
      font-weight: 400;
      font-family: robotoBold;
      font-size: 1.25rem;
    }

    p {
      color: #6a6a6a;
    }

    .action-modal-buttons {
      display: flex;
      justify-content: flex-end;

      button {
        border-radius: 5px;
        font-family: robotoBold;
        background-color: #0277bd;
        padding: 10px 15px;
        color: white;
        font-size: 1rem;
        border: 0;
        &:hover {
          cursor: pointer;
          background-color: #039be5;
        }
        &:focus {
          outline: 0;
        }
        margin-left: 10px;
      }

      .btn-no {
        background-color: transparent;
        color: black;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.lighter-add {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-family: robotoBold;
    font-weight: 400;
    font-size: 1.25rem;
  }

  .btn {
    margin-top: 20px;
    background-color: #9c27b0;
    color: white;
  }

  .lighter-add-wrapper {
    width: 80%;
  }

  input {
    margin-bottom: 15px;
  }

  textarea {
    margin-top: 20px;
  }
}

.lighter-gif-background {
  position: absolute;
  display: block;
  background-image: url('./assets/img/tenor.gif');
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.15;
}

.lighters-container {
  h3 {
    font-family: robotoBold;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
  }
}

@media only screen and (min-width: 720px) {
  .lighters-container {
    width: 50%;
    margin: 0 auto;
  }

  .lighter {
    border: 1px solid #c9c9c9;
  }

  .login-screen {
    .login-wrapper {
      width: 50%;
    }
  }

  .lighter-add {
    .lighter-add-wrapper {
      width: 50%;
    }
  }
}

//css spinner
//_________________________________

.lds-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-grid {
  display: inline-block;
  transform: scale(2);
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ef6c00;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

//----------------------------------
